/* .cursor {
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url("Assets/Editor/TextTreeEditor/Sprites/cursor.png");
    visibility: hidden;
    left: 0px;
    top: 0px;
} */

.background {
    /* background-color: red; */
}

.contentArea {
    background-color: blue;
}